.navbar-style{
  background-color: rgba(172, 88, 49,0.7)!important;
}
.green-highlight{
  color: rgb(103, 198, 103);
}
.red-highlight{
  color: rgb(230, 65, 65);
  font-size: 25px;
}

.hand-icon{
  cursor: pointer;
  
}
.hand-icon :hover{
  background-color: rgba(105, 104, 104,0.5);
  border-radius: 50%;

}

.nav-link.active{
  border-bottom: 1px solid;
  /* background-color: rgba(rgb(107, 241, 166,0.5), green, blue, alpha); */
 
  

}
